:root{
    --branco-principal: #FFFFFF;
    --botao-azul: #167BF7;
    --cor-de-fundo: #040814;
    --font-roboto:var(--font-roboto)
}

body{
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
}
.perverso{
    color:rgb(192, 0, 0);
}
.anabana{
    color:beige;
}
.principal{
    background-image:url("img/image 9.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height:100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color:var(--botao-azul);
    border-radius: 10px;
    padding: 1em;
    color:var(--branco-principal);
    display: block;
    font-family: var(--font-roboto);
}